<ul class="nav navbar-nav">
  <li class="active"><a href="/">Home</a></li>
  {{#if account}}
    <li><a href="/articles">Articles</a></li>
    <li><a href="/article">Add article</a></li>
  {{/if}}
</ul>
